[user]
	email = asafebymarques@icloud.com
	name = Asafe Marques
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1/node /tmp/vscode-remote-containers-0adf3b4a5178e3a09d3e1e1ce8cdcdec88d771a5.js $*; }; f"
