[user]
	email = asafebymarques@icloud.com
	name = Asafe Marques
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/dfd34e8260c270da74b5c2d86d61aee4b6d56977/node /tmp/vscode-remote-containers-18afd23813babe629ce5b941cbc45e076b568f7b.js $*; }; f"
